body {
  color:#ffe6ff;
}
img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header {
   text-align: center;
}

.box-content {
  padding: 20px;
}

.box-cell {
  margin-bottom: 10px;
  
}

@media only screen and (min-width: 720px) {
  .boxes {
    display: table;
    width: 100%;
  }

  .box-row {
    display: table-row;
  }

  .box-cell {
    display: table-cell;
    vertical-align: top;
    width: 33%;

  }
}
